.form-edit-camp {
    background-image: url('https://drive.google.com/uc?export=view&id=1l1WMK059CJLkOTSsmkvsc_fHOWUQLlK5');
    background-size: cover;
    background-position: 1px;
    height: 1200px;
    padding-top: 50px;
}

.form-edit-camp-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1049px;
    font-size: 30px;
    background-color: #9B9B7A;
    border-radius: 5%;
    opacity: 90%;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-edit {
    margin: 0;
}